<h1 style="text-align: center; color: goldenrod">Task Management System</h1>
<br/>
<div style="display: flex; flex-flow: column wrap; justify-content: center; align-items: center;">
    <form action="/add-task" method="get">
        <input type="text" name="task"/>
        <button type="submit">Add Task</button>
    </form>
    <button style="padding: 10px;border-radius: 5px;background-color: steelblue;color: white; cursor: pointer; margin-top: 5px; margin-bottom: 5px;" onclick="window.location.href='/tasks'">Home</button>
    <h2 style="color: indianred;">Pending Tasks</h2>

    {%for task in pending%}

            <h3 style="color: steelblue;">
            {{forloop.counter}} . {{task}}
            </h3>
            <button style="padding: 10px;border-radius: 5px;background-color: red;color: white; cursor: pointer; margin-top: 5px; margin-bottom: 5px;" onclick="window.location.href='/delete-task/{{forloop.counter}}'">Delete Task</button>
            <button style="padding: 10px;border-radius: 5px;background-color: green;color: white; cursor: pointer; margin-top: 5px; margin-bottom: 5px;" onclick="window.location.href='/complete_task/{{forloop.counter}}'">Mark Complete</button>
            <hr style="width:50%;">
    {%endfor%}

    <h2 style="color: green;">Completed Tasks</h2>

    {%for task in complete%}

            <h3 style="color: steelblue;">
            {{forloop.counter}} . {{task}}
            </h3>
            <hr style="width:50%;">
    {%endfor%}
</div>