<h1 style="text-align: center; color: goldenrod">Task Management System</h1>
<br/>
<div style="display: flex; flex-flow: column wrap; justify-content: center; align-items: center;">
    <button style="padding: 10px;border-radius: 5px;background-color: indigo;color: white; cursor: pointer; margin-bottom: 30px;" onclick="window.location.href='/all_tasks'">All Tasks</button>
    <form action="/add-task" method="get">
        <input type="text" name="task"/>
        <button type="submit">Add Task</button>
    </form>
    <form action="" method="get">
        <input type="text" name="search"/>
        <button type="submit">Search Task</button>
    </form>
    <button style="padding: 10px;border-radius: 5px;background-color: lawngreen;color: white; cursor: pointer; margin-top: 5px; margin-bottom: 5px;" onclick="window.location.href='/completed_tasks'">Completed Tasks</button>
    <h2 style="color: indianred;">Tasks</h2>

    {%for task in tasks%}

            <h3 style="color: steelblue;">
            {{forloop.counter}} . {{task.title}} - {{task.created_date}}
            </h3>
            <button style="padding: 10px;border-radius: 5px;background-color: red;color: white; cursor: pointer; margin-top: 5px; margin-bottom: 5px;" onclick="window.location.href='/delete-task/{{task.id}}/tasks'">Delete Task</button>
            <button style="padding: 10px;border-radius: 5px;background-color: green;color: white; cursor: pointer; margin-top: 5px; margin-bottom: 5px;" onclick="window.location.href='/complete_task/{{task.id}}/tasks'">Mark Complete</button>
            <hr style="width:50%;">
    {%endfor%}
</div>